
<div class="contact-list">
  <mat-grid-list cols="3" rowHeight="100%" gutterSize=1em>
    <mat-grid-tile [colspan]=2 [rowspan]=1 >
      <ag-grid-angular #agGrid id="agGrid" style="width: 88%; height: 450px;" class="ag-theme-alpine"
        [rowData]="contactsList" [columnDefs]="columnDefs" rowSelection="multiple" (gridReady)="onGridReady($event)" (rowClicked)="getSelectedRowData($event)"
        (rowDoubleClicked)="EditContact($event)">
      </ag-grid-angular>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <div class="detail">
        <app-contact-detail></app-contact-detail>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="actions">
  <button mat-raised-button color="accent" (click)="onDeleteRow()">Supprimer</button>
</div>
