<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <mat-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
    <span class="example-fill-remaining-space"></span>
    <!--  <mat-icon>logout</mat-icon> -->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list class="dashboard">
        <a mat-list-item (click)="toggleActive($event)" [routerLink]="['/contacts']">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <p matLine *ngIf="isExpanded">Contacts</p>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleActive($event)" [routerLink]="['/add']">
          <mat-icon mat-list-icon>add</mat-icon>
          <p matLine *ngIf="isExpanded">Ajouter</p>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <router-outlet>
      </router-outlet>
    </div>

  </mat-sidenav-container>
</div>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
