<form class="example-form" [formGroup]="contactForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="Nom">
      <mat-error *ngIf="contactForm.get('Nom')?.errors?.error"> {{ contactForm.get('Nom')?.errors?.error }}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Prenom</mat-label>
      <input matInput formControlName="Prenom">
      <mat-error *ngIf="contactForm.get('Prenom')?.errors?.error"> {{ contactForm.get('Prenom')?.errors?.error }}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Date de naissance</mat-label>
      <input matInput formControlName="datenaissance">
      <mat-error *ngIf="contactForm.get('datenaissance')?.errors?.error"> {{ contactForm.get('datenaissance')?.errors?.error }}</mat-error>
    </mat-form-field>
  
  </form>
  
  <button class="noOutlinebutton" mat-raised-button color="primary" [routerLink]="['/Dashboard']">
    <mat-icon>keyboard_backspace</mat-icon>
    </button> |
    <button class="noOutlinebutton" mat-raised-button color="accent" [disabled]="contactForm.invalid" (click)="OnAddContact()">
      <mat-icon>person_add</mat-icon>
      Add Contact
      </button>