<p>add works!</p>
<form [formGroup]="contactForm">
  <label>
    Nom:
    <input type="text" formControlName="nom" />
  </label>

  <label>
    Prenom:
    <input type="text" formControlName="prenom" />
  </label>
  <label>
    date de naissance:
    <input type="text" formControlName="datenaissance" />
  </label>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Custom calendar color</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="datenaissance">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>
  
  <h3>Address</h3>
  <table>
    <tr
      formArrayName="addresses"
      *ngFor="
        let address of contactForm.get('addresses')!['controls'];
        let i = index
      "
    >
      <td>
        <div [formGroupName]="i">
          <label>
            typeAdresse:
            <input type="text" formControlName="typeAdresse" />
          </label>
          <label>
            typeVoie:
            <input type="text" formControlName="typeVoie" />
          </label>
          <label>
            rue:
            <input type="text" formControlName="rue" />
          </label>
          <label>
            numero:
            <input type="text" formControlName="numero" />
          </label>
          <label>
            ville:
            <input type="text" formControlName="ville" />
          </label>
        </div>
      </td>
    </tr>
  </table>
  <!-- <label>
            typeAdresse:
          <input type="text" formControlName="typeAdresse">
        </label>
      
        <label>
            typeVoie:
          <input type="text" formControlName="typeVoie">
        </label>
        
        <label>
            rue:
          <input type="text" formControlName="rue">
        </label>
      
        <label>
            numero:
          <input type="text" formControlName="numero">
        </label>
        <label>
            ville:
          <input type="text" formControlName="ville">
        </label>
        <label>
            cp:
          <input type="text" formControlName="cp">
        </label>
        <label>
            pays:
          <input type="text" formControlName="pays">
        </label>
        <label>
            commentaire:
          <input type="text" formControlName="pays">
        </label>
        <label>
            contactNo:
          <input type="text" formControlName="contactNo">
        </label>-->
  <button (click)="AddAdresse()">Add Adresse</button>
  <button type="submit" [disabled]="!contactForm.valid" (click)="AddContact()">
    Submit
  </button>
</form>
